venv/
myenv/
build/
.ipynb_checkpoints
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
./.vscode/
./.idea/
./.ipynb_checkpoints/
./__pycache__/
**/venv/**
**/myenv/**
**/build/**
**/.ipynb_checkpoints/**
**/.idea/**
**/__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/.vscode/**
**/nvidia-server-repo/**