venv/
**/.venv/
**/venv/
myenv/
build/
.ipynb_checkpoints
.idea/
**/.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
./.vscode/
./.idea/
./.ipynb_checkpoints/
./__pycache__/
**/venv/**
**/myenv/**
**/build/**
**/.ipynb_checkpoints/**
**/.idea/**
**/__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/.vscode/**
**/nvidia-server-repo/**
langchain-rag/nvidia-server-repo/
langchain-rag/.idea/
langchain-rag/.ipynb_checkpoints/
langchain-rag/__pycache__/
langchain-rag/venv/
langchain-rag/myenv/
langchain-rag/build/
langchain-rag/.vscode/
langchain-rag/dist/
**/.DS_Store/
**/.DS_Store
